{% extends 'base.html.twig' %}
{% block nav_item_formations %}active{% endblock %}
{% block title %}Formations{% endblock %}

{% block body %}

<div class="container-fluid">
	<div class="row">
		<h1>Toutes les Formations</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue erat quam, eget sagittis leo porta et. Maecenas egestas posuere dolor, sed tincidunt nunc semper vel. Vivamus in nibh nisl. Curabitur dignissim metus mauris, non porttitor leo semper quis. Nunc molestie nisl at hendrerit dapibus. Vestibulum non sodales massa. Phasellus efficitur, metus at sodales malesuada, arcu dolor euismod arcu, sed rutrum tellus leo id nunc. Donec tristique risus porta odio tempus, eget tempus nulla euismod. Praesent sodales velit arcu, et pharetra sem congue sed. Vivamus auctor gravida purus. Suspendisse pellentesque massa id lorem condimentum auctor. Cras facilisis pharetra est vitae eleifend. Morbi posuere id libero at ullamcorper. Pellentesque congue dolor iaculis eros mattis, quis sodales turpis sollicitudin.</p>
	</div>
	<div class="row">
		<div class="card text-black bg-light mb-3"><h5 class="card-header">
			Liste des Formations
		</h5></div>
	</div>
	<div class="list-group">
		{% for ressourceCourante in ressourcesFormation %}
		<div class="list-group-item">
            <div class="card text-black bg-light mb-3">
                <h5 class="card-header">
					{{ressourceCourante.nomCourt}}
				</h5>
				<div class="card-body">
					<p class="card-text">
						<strong>Nom Long : </strong>{{ressourceCourante.nomLong}}
					</p>
					<p class="btn">
						<a href="{{path('prostages_stagesFormation',{id:ressourceCourante.id})}}" target="_blank" class="btn btn-outline-dark">Filtrer</a>
					</p>
				</div>
                
			</div>
	    </div>
		{% endfor %}

	</div>
</div>
{% endblock %}
