{% extends 'base.html.twig' %}

{% block title %}Page des entreprises{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Cette page affichera la liste des entreprises proposant un stage</h1>
</div>
{% endblock %}
