{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil ! </h1>

    <p>Voici la liste des ressources disponibles :</p>    
    <ul>
        <li>
            <a href="{{path('openclassdut_entreprises')}}">Entreprises</a>
        </li>
        <li>
            <a href="{{path('openclassdut_formations')}}">Formations</a>
        </li>
        <li>
            <a href="{{path('openclassdut_stages',{id:1})}}">Stages</a>
        </li>
    </ul>

{% endblock %}
